.head__nav-bar {
    display: flex;
    width: 100%;
    background-color: #00000057;
    background: rgba(0,0,0,0.8);
    height: 50px;
}

.nav-bar {
    display: flex;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 5%;
}

.nav-bar__nav {
    display: flex;
    margin-right: 5%;
}

@media (max-width: 700px) {
    .only-descktop {
        display: none;
    }
    .nav-bar {
        justify-content: space-around;
    }
} 