.container-filter {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px 0;
}

.container-filter__btn-block {
    display: inline-flex;
    margin: 0 10px;
    flex-wrap: wrap;
    justify-content: center;
}