.item-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}

.item-list li {
    margin: 0 5px;
    cursor: pointer;
    display: flex;
}

.item-list li a {
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    text-decoration: none !important;
    width: 100%;
    text-align: center;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

@media (max-width: 700px) {
    .item-list li a {
        margin: 15px 0;
    }

    .item-list li:nth-child(2n+1) {
        border-bottom: 1px solid #000;
    }
}
